# Virtual Environment
venv/
env/
.env/

# Konfigurasi Sensitif
.env
*.env

# File Sementara Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# File Sistem
.DS_Store
Thumbs.db
desktop.ini

# Log & Database Lokal
*.log
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.sublime-projects

# Snapshots & Data
snapshots/
dataset/*
!dataset/.gitkeep
models/*
!models/.gitkeep